Ice.Default.Locator=IceGrid/Locator -t:tcp -h registry1 -p 4061:tcp -h registry2 -p 4061
IceGrid.Node.Name=node1
IceGrid.Node.Data=/var/lib/ice/icegrid/node1
IceGrid.Node.Endpoints=tcp

# logging
Ice.Trace.Locator=1
IceGrid.Node.PrintServersReady=node1
IceGrid.Node.Trace.Server=2
IceGrid.Node.Trace.Replica=1
Ice.StdOut=
Ice.StdErr=
