<?xml version="1.0" encoding="UTF-8" ?>
<icegrid>
   <application name="PrinterApp">
      <node name="node1">
         <server id="PrinterServer1" activation="on-demand" exe="./server.py" user="ice" pwd="/app">
            <properties>
               <property name="Ice.StdOut"/>
               <property name="Ice.StdErr"/>
               <property name="Ice.ServerIdleTime" value="5"/>
            </properties>
            <adapter name="PrinterAdapter" endpoints="default" id="${server}.PrinterAdapter">
               <object identity="printer1"/>
            </adapter>
         </server>
      </node>
   </application>
</icegrid>
