Ice.Default.Locator=IceGrid/Locator -t:tcp -h registry -p 4061
IceGrid.Node.Name=node2
IceGrid.Node.Data=/var/lib/ice/icegrid/node2
IceGrid.Node.Endpoints=tcp -h 0.0.0.0
IceGrid.Node.AllowRunningServersAsRoot=1

# Ice.StdOut=/var/lib/ice/icegrid/node2/out.txt
# Ice.StdErr=/var/lib/ice/icegrid/node2/err.txt
