# Ice.Default.Locator=IceGrid/Locator -t:tcp -h 172.28.0.10 -p 4061
Ice.Default.Locator=IceGrid/Locator -t:tcp -h registry -p 4061
IceGrid.Node.Name=node1
IceGrid.Node.Data=/var/lib/ice/icegrid/node1
IceGrid.Node.Endpoints=tcp -h 0.0.0.0
IceGrid.Node.AllowRunningServersAsRoot=1

# Ice.StdOut=/var/lib/ice/icegrid/node1/out.txt
# Ice.StdErr=/var/lib/ice/icegrid/node1/err.txt
