IceGrid.Registry.Client.Endpoints=tcp -h 0.0.0.0 -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.LMDB.Path=/var/lib/ice/icegrid/registry
IceGrid.Registry.DefaultTemplates=/usr/share/ice/templates.xml
IceGrid.Registry.PermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
Ice.Default.Locator=IceGrid/Locator:tcp -h 127.0.0.1 -p 4061

Ice.StdOut=/var/lib/ice/icegrid/registry/out.txt
Ice.StdErr=/var/lib/ice/icegrid/registry/err.txt
