<?xml version="1.0" encoding="UTF-8" ?>
<!-- This file was written by IceGrid GUI -->
<icegrid>
   <application name="App">
      <server-template id="PrinterTemplate">
         <parameter name="name"/>
         <server id="${name}" activation="on-demand" exe="./printer-server.py" pwd=".">
            <properties>
               <property name="Ice.StdOut" value="./printer.out"/>
               <property name="Ice.StdErr" value="./printer.err"/>
               <property name="Ice.ServerIdleTime" value="5"/>
               <property name="Identity" value="${name}"/>
            </properties>
            <adapter name="PrinterAdapter" endpoints="default" id="${server}.PrinterAdapter"/>
         </server>
      </server-template>
      <node name="node1">
         <server id="factory" activation="on-demand" exe="./factory.py" pwd=".">
            <properties>
               <property name="Ice.StdErr" value="./factory.err"/>
               <property name="Ice.StdOut" value="./factory.out"/>
               <property name="Ice.ServerIdleTime" value="3"/>
            </properties>
            <adapter name="PrinterFactory.Adapter" endpoints="default"
               id="${server}.PrinterFactory.Adapter">
               <object identity="factory"/>
            </adapter>
         </server>
         <server-instance template="PrinterTemplate" name="printer1"/>
      </node>
   </application>
</icegrid>
