Ice.Default.Locator=IceGrid/Locator -t:tcp -h registry1 -p 4061:tcp -h registry2 -p 4061
IceGrid.Registry.ReplicaName=Slave1
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.LMDB.Path=/var/lib/ice/icegrid/registry

# logging
IceGrid.Registry.Trace.Node=1
IceGrid.Registry.Trace.Replica=1
IceGrid.Registry.Trace.Discovery=1
Ice.StdOut=
Ice.StdErr=
