# -*- mode: conf; coding: utf-8 -*-

IceStorm.TopicManager.Endpoints=tcp -h 127.0.0.1 -p 10000
IceStormAdmin.TopicManager.Default=IceStorm/TopicManager:tcp -h 127.0.0.1 -p 10000

IceStorm.Publish.Endpoints=tcp -h 127.0.0.1 -p 2000
Hello.Subscriber.Endpoints=tcp -h 127.0.0.1

Ice.Plugin.DB=IceStormSqlDB:createSqlDB
IceStorm.SQL.DatabaseType=QMYSQL
IceStorm.SQL.DatabaseName=IceStorm
IceStorm.SQL.HostName=localhost
IceStorm.SQL.Port=3306
IceStorm.SQL.UserName=IceStorm
IceStorm.SQL.Password=IceStorm
