IceStorm.TopicManager.Endpoints=tcp -h 127.0.0.1 -p 10000
IceStormAdmin.TopicManager.Default=IceStorm/TopicManager:tcp -h 127.0.0.1 -p 10000

IceStorm.Publish.Endpoints=tcp -h 127.0.0.1 -p 2000

# Bool objects live in memory, so their topics do not need to survive restarts
IceStorm.Transient=1

IceStorm.Flush.Timeout=2000
