
IceStorm.TopicManager.Endpoints=tcp -h 127.0.0.1 -p 10000
IceStormAdmin.TopicManager.Default=IceStorm/TopicManager:tcp -h 127.0.0.1 -p 10000

IceStorm.Publish.Endpoints=tcp -h 127.0.0.1 -p 2000
Hello.Subscriber.Endpoints=tcp -h 127.0.0.1

Freeze.DbEnv.IceStorm.DbHome=db/icestorm

IceStorm.Flush.Timeout = 2000
