<?xml version="1.0" encoding="UTF-8" ?>
<icegrid>
   <application name="App">
      <server-template id="CounterServerTemplate">
         <parameter name="index"/>
         <server id="CounterServer${index}" activation="on-demand" exe="/app/server.py">
            <properties>
               <property name="Ice.StdOut"/>
               <property name="Ice.StdErr"/>
               <property name="IceGrid.Node.DisableOnFailure" value="5"/>
               <property name="Redis.Sentinels" value="
                  sentinel-1
                  sentinel-2
                  sentinel-3"/>
            </properties>
            <adapter name="CounterAdapter" id="${server}.CounterAdapter"
               endpoints="default -t 5000" replica-group="CounterGroup"/>
         </server>
      </server-template>
      <node name="node1">
         <server-instance template="CounterServerTemplate" index="1"/>
      </node>
      <node name="node2">
         <server-instance template="CounterServerTemplate" index="2"/>
      </node>
      <replica-group id="CounterGroup">
         <load-balancing type="round-robin" n-replicas="1"/>
      </replica-group>
   </application>
</icegrid>
