# for Glacier2
Ice.Default.Router = Glacier2/router:tcp -h 127.0.0.1 -p 4063
Ice.RetryIntervals = -1

# common on IS app
IceStorm.TopicManager.Proxy = IceStorm/TopicManager:tcp -h 127.0.0.1 -p 10000

# PrinterAdapter.Endpoints = tcp
Adapter.Router = Glacier2/router:tcp -h 127.0.0.1 -p 4063
# Callback.Client.Router = tcp
# Callback.Client.Endpoints = tcp
# Callback.Proxy = callback:tcp -h localhost -p 10000
