Glacier2.InstanceName=Glacier2

# private side: clients (the subscriber)
Glacier2.Client.Endpoints=tcp -p 4063

# public side: callbacks to clients (events from IceStorm)
Glacier2.Server.Endpoints=tcp -p 4064
Glacier2.Server.PublishedEndpoints=tcp -h glacier2 -p 4064

Glacier2.PermissionsVerifier=Glacier2/NullPermissionsVerifier

Glacier2.Trace.RoutingTable=1
Glacier2.Trace.Session=1
