IceBox.Service.IceStorm=IceStormService,37:createIceStorm --Ice.Config=/etc/icestorm.conf
IceBox.PrintServicesReady=IceStorm

IceStorm.TopicManager.Endpoints=tcp -p 10000
IceStorm.Publish.Endpoints=tcp -p 20000
IceStorm.Transient=1

IceStorm.Trace.Subscriber=2
IceStorm.Trace.Topic=2
IceStorm.Trace.TopicManager=1
