IceBox.Service.IceStorm = IceStormService:createIceStorm --Ice.Config=icestorm.config

IceStorm.TopicManager.Endpoints = tcp -p 10000
IceStorm.Publish.Endpoints = tcp -p 20000
Freeze.DbEnv.IceStorm.DbHome = /tmp/py-icestorm-glacier-db

# for Glacier2
Ice.Default.Router = Glacier2/router:tcp -h 127.0.0.1 -p 4063
Ice.RetryIntervals=-1

IceBox.PrintServicesReady = IceStorm
IceStorm.Trace.Subscriber = 2
IceStorm.Trace.Topic = 2
IceStorm.Trace.TopicManager = 1
